.image{
    background-image: url(/assets/backgrounds/h_img.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}
.logo{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 40%;
    left: -14%;
}
.content{
    color: white;
    position: absolute;
    top: 55%;
    left: 30%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 45px;
}
small{
    font-size: 20px;
}
.click{
    display: flex;
    left: 0%;
    top: 75%;
    justify-content: center;
    align-items: center;
    position: relative;
}
.w3-container{
    color: black;
    position: absolute;
    left: 15%;
}
h3{
    font-size: 30px;
    left: 20%;
    position: relative;
}
p{
    font-size: 17px;
}
.image-two{
    margin: 0%;
    left: -15%;
    position: relative;
}
.image-two{
    background-image: url(/assets/backgrounds/s_image.jpg);
    height: 60vh;
    width: 100vw;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}
.services{
    color: white;
    position: absolute;
    top: 30%;
    left: 20%;
    font-size: 50px;
}
h4{
    position: relative;
    left: 30%;
}
h5{
    position: relative;
    left: 25%;
    font-size: 35px;
}
.icon-one{
    width: 100%;
}
.icon-two{
    width: 100%;
}
.icon-three{
    width: 100%;
}
.what-we-do{
    display: flex;
    justify-content: space-between;
    left: 5%;
    align-items: center;
    flex-wrap: wrap;
}
.design{
    position: relative;
    padding-bottom: 50px;
    border-radius: 6px;
    overflow: hidden;
    width: 408px;
    background-color: #fff;
    box-shadow: 0 21px 35px rgb(0 0 0 / .10);
    left: -15%;
}
.design .text{
    padding: 15px;
}
.design p{
    font-size: 16px;
    line-height: 30px;
}
.design h7{
    font-size: 32px;
    margin-bottom: 20px;
}
.design .more-btn{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    bottom: -60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    line-height: 60px;
    color: #fff;
    cursor: pointer;
    z-index: 9;
    font-size: 20px;
    transition: all ease 0.5s;
}
.design .more-btn:hover{
    background-color: #f7f7f7;
    color: white
}
.more-text h7{
    color: black;
}
.more-text p{
    color: black;
    line-height: 30px;
    font-weight: 500;
}
.more-text.active{
    bottom: 0;
}
h8{
    font-size: 35px;
    position: relative;
    left: 25%;
    top: 30%;
}